.user-avatar {
  width: 25rem;
  height: 25rem;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.home {
  color: rgb(37, 102, 102);
}

.text-attribute {
  font-size: 20px;
}

.user-name{
  font-size: 30px;
}
