.form-service {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(182, 237, 237);
  }

.section {
    font-size: 20px;
    color: rgb(144, 187, 187);
}